
.container-btnMidia{
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 2rem;
    
}
.container-midia{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    
}

.midia{
    background-color: rgba(1, 177, 177, 0.568);
    height: 850px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    
}

.botoes-midia {
    padding: 2rem;
}